body {
    background-color: rgb(17, 15, 13);
}

#coming-soon-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75); /* Semi-transparent black background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Ensure it's above other content */
}

#message-container {
    text-align: center;
    color: white; /* White text for visibility */
}

#message-container h1 {
    font-size: 2em;
    margin-bottom: 0.5em;
}

#message-container p {
    font-size: 1.2em;
}

.marker-tooltip {
    background-color: rgba(244, 209, 112, 0.834);
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 5px;
    box-shadow: 0 3px 14px rgba(0,0,0,0.4);
    font-size: 14px;
    color: #333;
}



:root {
    --polygon-color-1: #7333a0;
    --polygon-color-2: #dbb969de;
    --polygon-color-3: #a21f5a;
    --polygon-color-4: #8ac5e9;
    --polygon-color-5: #444193;
    --polygon-color-6: #0c8e76;
    --polygon-color-7: #9dc5db;
    --polygon-color-8: #78122ac8;

    --bright-polygon-color-1: #9c6fbda2;
    --bright-polygon-color-2: #cdbe9cde;
    --bright-polygon-color-3: #c88ba6b4;
    --bright-polygon-color-4: #b0cadbab;
    --bright-polygon-color-5: rgba(134, 133, 184, 0.696);
    --bright-polygon-color-6: #7bb7ac87;
    --bright-polygon-color-7: #8fa1ab9c;
    --bright-polygon-color-8: #c5a0a97c;


}

.custom-icon img {
    opacity: 0.4; /* Set default opacity to 50% */
    transition: opacity 0.25s ease-in-out; /* Smooth transition for opacity change */
    z-index: 22;
    transform: scale(.7);
    transform-origin: bottom;
    transition: scale 0.25s ease-in-out;
}

.custom-icon:hover img {
    opacity: 0.7; /* Full opacity on hover */
    transform: scale(.9);
}



/* This styles the map container */
#map {
    position: relative;
    height: 100%;
}

/* Example of customizing map tile colors with filters (this is very basic and may not achieve the exact desired effect) */
.leaflet-tile {
    filter: brightness(25%) contrast(155%) sepia(90%) hue-rotate(20deg) saturate(20%);
}

/* Sea color cannot be directly controlled here since it's part of the tile images;
   you would need to find or create custom tiles for exact control */




   .crt::before {
    content: " ";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: 
    linear-gradient(rgba(20, 19, 19, 0.74) 50%, rgba(167, 153, 31, 0.25) 50%), /* Original linear gradient */
    linear-gradient(90deg, rgba(255, 197, 121, 0.329), rgba(37, 109, 177, 0.527), rgba(0, 0, 255, 0.06)); /* Rotated linear gradient */
    mix-blend-mode: color-dodge;
    z-index: 2;
    background-size: .3vw .3vh;
    pointer-events: none;
    top: 0;
    overflow: hidden;
  }

  @keyframes flicker {
    0% {
        opacity: 0.85;
    }
    5% {
        opacity: 0.95;
    }
    10% {
        opacity: 0.8;
    }
    15% {
        opacity: 0.98;
    }
    20% {
        opacity: 0.75;
    }
    25% {
        opacity: 0.92;
    }
    30% {
        opacity: 0.78;
    }
    35% {
        opacity: 0.92;
    }
    40% {
        opacity: 0.8;
    }
    45% {
        opacity: 0.94;
    }
    50% {
        opacity: 0.9;
    }
    55% {
        opacity: 0.75;
    }
    60% {
        opacity: 0.85;
    }
    65% {
        opacity: 0.92;
    }
    70% {
        opacity: 0.85;
    }
    75% {
        opacity: 0.88;
    }
    80% {
        opacity: 0.9;
    }
    85% {
        opacity: 0.92;
    }
    90% {
        opacity: 0.85;
    }
    95% {
        opacity: 0.9;
    }
    100% {
        opacity: 0.88;
    }
}

  
  .crt::after {
    content: " ";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(18, 16, 16, 0.1);
    opacity: 0;
    z-index: 2;
    pointer-events: none;
    animation: flicker 0.15s infinite;
  }

  crt.crt2 {
    opacity: .3;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: block;
    position: fixed;
  }


  @keyframes pulse {
    0% {
        transform: scale(0.5);
        opacity: .7;
    }
    100% {
        transform: scale(2.5);
        opacity: 0;
    }
}

.pulsing-circle {
    z-index: 1;
    width: 200px;
    height: 200px;
    margin-left: -10px; /* Half of width to center the div on the coordinate */
    margin-top: -10px; /* Half of height to center the div on the coordinate */
    border-radius: 100%;
    background-color: #3388ff; /* Example color */
    animation: pulse 2s infinite;
}
